@use '../tokens' as tokens;

@mixin link-reset {
  text-decoration: none;
  color: inherit;
  display: block;
}

@mixin stack($gap-key) {
  display: grid;
  gap: tokens.get-map(tokens.$spacer, $gap-key);
}

@mixin inset-padding($top-key, $x-key, $bottom-key: $top-key) {
  padding: tokens.get-map(tokens.$spacer, $top-key) tokens.get-map(tokens.$spacer, $x-key)
    tokens.get-map(tokens.$spacer, $bottom-key);
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
